/* You can add global styles to this file, and also import other style files */
body{
	background-color: #EEEEEE;
	font-family: 'Montserrat', sans-serif;
}
.gradient-bg{
	background-image: linear-gradient(to top right, #76c5bf, #b2dac2);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.form-container{
	padding-right: 35%;
	padding-left: 35%;
	padding-top: 16px;
}

.table-container{
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 16px;
}

.filtro-container{
	text-align: center;
	font-weight: bold;
}

.filtro-container input{
	width: 200px;
	display: inline;
	margin-left: 15px;
}
.filtro-container button{
	display: inline;
	width: 100px;
	margin-left: 15px;
	vertical-align: top;
	background-image: linear-gradient(to top, #7dcabf, #b4d8c2);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.form-header{
	font-weight: bold;
	text-align: center;
}

.form-label{
	margin-top: 16px;
	font-weight: bold;
}

.user-photo-thumbnail{
	width:70px;
	height:70px;
	object-fit:cover;
	border-color: #d1d1d1;
	border-style: solid;
	border-width: 1px;
}

.gc-input-login{
	border:none;
    border-bottom: 1px solid #56e1c5;
	border-radius: 0px;
	outline: none;
	padding: 0px;
}

.gc-input{
	-moz-appearance:none;  /* remove a setinha do select no firefox*/
	border-radius: 16px;
}

.gc-button{
	background-color: #56e1c5;
	border-radius: 30px;
	border-color: #56e1c5;
}

table .gc-button{
	/* height: 30px; */
	vertical-align: top;
	max-width: 100px;
	min-width: 0px !important;
	border-radius: 5px;
}
.form-container .gc-button{
	margin-top: 30px;
}

gc-input-login:focus{
	border-bottom: 2px solid #56e1c5 !important;
	border-radius: 0px;
}

.gc-button:focus,
.gc-button:active,
.gc-button:hover{
	background-color: #56e1c5 !important;
}

.propriedade-gc{
	background: transparent url('assets/mini-gc-logo.png') 0% 0% no-repeat padding-box;
	background-size: 13px;
	background-position: center center;
	width: 16px;
	height:16px;
}

.ngx-pagination{
	text-align: center;
}
.current{
	background-color: #87cbc0 !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
	outline: none;
}
