<app-header></app-header>
<div class="form-container">
	<div class="form-header">
		<app-voltar></app-voltar>
		{{header}}
		<hr>
	</div>
	<label class="form-label">Nome</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="paciente.nome">
	<label class="form-label">Número</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o número aqui" [(ngModel)]="paciente.numero">
	<label class="form-label">Nascimento</label>
	<div class="input-group">
		<!-- input box -->
		<input class="form-control" placeholder="Escolha a data aqui"
			 angular-mydatepicker #dp="angular-mydatepicker"
			 [(ngModel)]="dateModel" [options]="myDpOptions"
			 (dateChanged)="onDateChanged($event)"/>

		<!-- clear date button -->
		<div class="input-group-append">
			<button type="button" class="btn btn-secondary" *ngIf="dateModel" (click)="dp.clearDate()">
				<i class="fas fa-times"></i>
			</button>
		</div>

		<!-- toggle calendar button -->
		<div class="input-group-append">
			<button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
				<i class="far fa-calendar-alt"></i>
			</button>
		</div>

	</div>
	<label class="form-label">Cidade de Residência</label>
	<input type="text" class="form-control gc-input" placeholder="Insira a cidade aqui" [(ngModel)]="paciente.cidade_residencia">
	<label class="form-label">Sexo Biológico</label>
	<select [(ngModel)]="paciente.sexo" class="form-control gc-input">
		<option value="F">Feminino</option>
		<option value="M">Masculino</option>
	</select>

	<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()" *ngIf="cadastrando">Cadastrar</button>
	<button type="button" class="form-control btn btn-success gc-button" *ngIf="atualizando" data-toggle="modal" data-target="#modal-confirm">Atualizar</button>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja salvar as atualizações?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="atualizar()">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
