.grid-container{
	background-color: #ededed;
	font-size: 90%;
	/* height: calc(100vh - 115px); */
}

.dropdown-toggle, .show > .btn-secondary.dropdown-toggle{
	background-color: transparent;
	color: inherit;
	border-width: 0px !important;
	padding: 0px;
	outline: none;
}

.dropdown-toggle:after {
   display:none!important;
}

.dropdown-toggle{
    margin-right:15px;
}

.btn{
	outline: none !important;
}

.filtro-data{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 100px;
	padding-right: 100px;
}

.filtro-data .gc-input{
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	/* background-color: red; */
}
