<div class="row filtro-data"  style="background-color:#ffffff">

	<div class="col-3" >
		<input type="text" class="from-control gc-input" (ngModelChange)="salvaFiltro($event)" placeholder="Pesquise aqui" [(ngModel)]="filter" style="height:100%;width:100%">
	</div>

	<div class="col-2">
		<div class="input-group">
			<!-- input box -->
			<input class="form-control" placeholder="Escolha o início"
				 angular-mydatepicker #dpInicio="angular-mydatepicker"
				 [(ngModel)]="dateModelInicio" [options]="myDpOptions"
				 (dateChanged)="onDataInicioChanged($event)"/>

			<!-- clear date button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" *ngIf="dateModelInicio" (click)="dpInicio.clearDate()">
					<i class="fas fa-times"></i>
				</button>
			</div>

			<!-- toggle calendar button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" (click)="dpInicio.toggleCalendar()">
					<i class="far fa-calendar-alt"></i>
				</button>
			</div>

		</div>
	</div>

	<div class="col-2">
		<div class="input-group">
			<!-- input box -->
			<input class="form-control" placeholder="Escolha o fim"
				 angular-mydatepicker #dpFim="angular-mydatepicker"
				 [(ngModel)]="dateModelFim" [options]="myDpOptions"
				 (dateChanged)="onDataFimChanged($event)"/>

			<!-- clear date button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" *ngIf="dateModelFim" (click)="dpFim.clearDate()">
					<i class="fas fa-times"></i>
				</button>
			</div>

			<!-- toggle calendar button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" (click)="dpFim.toggleCalendar()">
					<i class="far fa-calendar-alt"></i>
				</button>
			</div>

		</div>
	</div>

	<div class="col-2">
		<select class="form-control" name="" (change)="onStatusChanged()" [(ngModel)]="statusSelecionado">
			<option value="0">Todos</option>
			<option *ngFor = "let status of statusPossiveis" [value]="status.id">{{status.nome}}</option>
		</select>
	</div>

	<div class="col-3">
		<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()">Cadastrar Cirurgia</button>
	</div>

</div>


<div class="grid-container">
		<table class="table">
			<thead>
				<tr>
					<th>Hospital</th>
					<th>Nome do Paciente</th>
					<th>Procedimento</th>
					<th>Data e Hora</th>
					<th>Status</th>
					<th>Materiais Necessários</th>
					<th>Observações</th>
					<th style="text-align:center;">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let encaminhamento of encaminhamentosFiltrados | filter:filter | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
					<td>{{encaminhamento.cirurgia.medico.hospital}}</td>
					<td>
						<div class="row">
							<div class="col-9" style="padding-right:5px;">
								{{encaminhamento.cirurgia.paciente.nome}}
							</div>
							<div class="col-3" style="padding-left:5px;">
								<span style="cursor:pointer" (click)="detalhes(encaminhamento.id)"><i class="far fa-edit"></i></span>
							</div>
						</div>
					</td>
					<td>{{encaminhamento.cirurgia.procedimento}}</td>
					<td>{{encaminhamento.cirurgia.data}}</td>
					<td>{{encaminhamento.status.nome}}</td>
					<td style="width:30%;">
						<div style="max-height:100px; overflow-y:auto; overflow-x:hidden">
							<div class="row" *ngFor="let solicitacao of encaminhamento.cirurgia.solicitacoes">
								<div class="col-8">
									{{solicitacao.nome}}
								</div>
								<div class="col-2">
									{{solicitacao.solicitado}}
								</div>
								<div class="col-2" *ngIf="solicitacao.proprietario_id == 1">
									<div  class="propriedade-gc"></div>
								</div>
							</div>
						</div>

					</td>
					<td>{{encaminhamento.observacao}}</td>
					<td style="text-align:center; min-width:100px;">
						<app-btn-acao-encaminhamento [encaminhamento]="encaminhamento"></app-btn-acao-encaminhamento>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-12">
				<!-- <div style="width:20%; margin-left:auto; margin-right:auto; margin-top:15px; margin-bottom:15px">
					<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()">Cadastrar Cirurgia</button>
				</div> -->
			</div>
		</div>
		<pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event"></pagination-controls>
</div>
