<div class="header-container">
	<div class="row">
		<div class="col-3">
			<!-- <div  class="propriedade-gc"></div> -->
			<div class="gc-sign" (click)="navigate('/home')" style="cursor:pointer"></div>
		</div>
		<div class="col-6 gc">
			GC MEDICAL
		</div>
		<div class="col-2 perfil">

			<img class="rounded-circle user-icon" (click)="openPerfil()"  alt="usuario" [src]="image64">
			<div class="" >
				<p>{{nome}}</p><p>{{setor.nome}}</p>
			</div>

		</div>
		<div class="col-1">
			<span class="menu" (click)="openMenu()"><i class="fas fa-bars"></i></span>
		</div>
	</div>
</div>

<div id="sidemenu-perfil" class="sidemenu">
	<div class="close-button">
		<span (click)="closePerfil()" style="cursor:pointer"><i class="fas fa-times"></i></span>
	</div>
	<div class="sidemenu-container">
		<img class="rounded-circle user-photo-thumbnail" [src]="image64">
		<div class="menu-nome">
			{{nome}}
		</div>
		<div class="menu-setor">
			{{setor.nome}}
		</div>
	</div>
	<div class="sidemenu-container bottom-sidemenu">
		<div><span style="cursor: pointer" (click)="navigate('/perfil')"><i class="fas fa-edit"></i> Editar Informações </span></div>
		<div><span style="cursor: pointer" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair </span></div>
	</div>
</div>

<div id="sidemenu-menu" class="sidemenu">
	<div class="close-button">
		<span (click)="closeMenu()" style="cursor:pointer"><i class="fas fa-times"></i></span>
	</div>
	<div class="link" *ngIf="acoesPermitidas.includes(5)" (click)="navigate('/usuario')"><span><i class="fas fa-user"></i> Usuários</span></div>
	<div class="link" *ngIf="acoesPermitidas.includes(6)" (click)="navigate('/paciente')"> <span><i class="fas fa-user-injured"></i> Paciente	</span></div>
	<div class="link" *ngIf="acoesPermitidas.includes(10)" (click)="navigate('/medico')"> <span><i class="fas fa-user-md"></i> Médico </span></div>
	<div class="link" *ngIf="acoesPermitidas.includes(14)" (click)="navigate('/hospital')"><span><i class="fas fa-hospital"></i> Hospitais </span></div>
	<div class="link" *ngIf="acoesPermitidas.includes(28)" (click)="navigate('/permissoes')"><span><i class="fas fa-users"></i> Perfis </span></div>
	<div class="link" *ngIf="acoesPermitidas.includes(18)" (click)="navigate('/gestor-hospitalar')"><span><i class="fas fa-briefcase-medical"></i> Gestores Hospitalares </span></div>

</div>
