.header-container{
	margin-top: -50px;

	min-height: 50px;
	max-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: middle;
	position: fixed;
	width: 100vw;
	z-index:10;
	background: transparent linear-gradient(180deg, #B3DAC2 0%, #77C6BF 100%) 0% 0% no-repeat padding-box;
	font:  Montserrat;
}

.col-2.perfil > div p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.gc-sign{
	background: transparent url('../../../assets/logo-header.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	width: 50px;
	height: 50px;
}

.user-icon{
	margin-left: 5px;
	width:35px;
	height:35px;
	object-fit:cover;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.nome{
	text-align: right;
}

.gc{
	text-align: center;
	color: #ffffff;
	font-size: 200%;
	font-weight: 900;
}

.perfil{
	color: #ffffff;
	text-align: right;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	flex-direction: row-reverse;
	line-height: 80%;
}

.menu{
	color: #ffffff;
	font-size: 200%;
	cursor: pointer;
}

.sidemenu {
	height: 100%;
	min-width: 250px;
	position: fixed;
	z-index: 9;
	top: 50px; /* altura do cabecalho */
	right: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	transition: 0.5s;
	padding: 15px;
	transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidemenu-view{
	-webkit-box-shadow: -10px 0 10px -2px #D1D1D1;
	box-shadow: -10px 0 10px -2px #D1D1D1;
    transform: translateX(0);
}

#sidemenu-menu{
	padding-left: 30px;
}

.link{
	margin-bottom: 10px;
	cursor: pointer;
}

.link:hover{
	text-decoration: underline;
}

.close-button{
	width: inherit;
	text-align: right;
}
.sidemenu-container{
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	height: 80%;
}
.bottom-sidemenu{
	height: auto;
}
.alterar-foto{
	margin-top: -5px;
	color: #949494;
	font-size: 90%;
}
.menu-nome{
	margin-top: 10px;
	font-weight: bold;
}

.menu-editar{
	margin-bottom: 0px;
}

.menu-sair{
	/* vertical-align: bottom; */
	/* position:absolute; bottom:50; */
}
