<app-header></app-header>
<div class="material-container">
	<div class="form-header">
		<app-voltar></app-voltar>
		Materiais
		<hr>
	</div>
	<div class="">
		<div class="row">
			<div class="col-10">
				<span style="font-weight:bold">Caixas</span>
			</div>
			<div class="col-2" style="text-align:right">
				<span style="cursor:pointer" *ngIf="!cadastrando" (click)="toggleEditando()"><i class="far fa-edit"></i></span>
			</div>
		</div>
		<div *ngFor="let caixa of exibicaoCaixas">
			<i class="fas fa-box"></i> {{caixa.nome}}
			<div *ngFor="let material of caixa.materiais">
				<div class="row">
					<div class="col-2">
						<select *ngIf="!isMedico" class="form-control gc-input" [disabled]="!editando" [(ngModel)]="material.consumido">
							<option value="0">Não Consumido</option>
							<option value="1">Consumido</option>
							<option value="2">Extraviado</option>
						</select>
					</div>
					<div class="col-6">
						<span >{{material.nome}} ({{material.codigo}})</span>
						<span style="width:20px; height:20px;" *ngIf="material.proprietario_id == 1" class="propriedade-gc float-right"></span>
					</div>
					<div class="col-2" style="text-align:right">
						<span *ngIf="!cadastrando && !isMedico">{{material.valor}}</span>
						<span *ngIf="cadastrando && !isMedico" style="cursor:pointer" (click)="removeSolicitacao(material)"><i class="fas fa-trash-alt"></i></span>
					</div>

					<div class="col-2" style="text-align:right">
						<div class="" *ngIf="editando">
							<input class="form-control" type="number" [(ngModel)]="material.solicitado">
						</div>
						<div class="" *ngIf="!editando">
							{{material.solicitado}}
						</div>
					</div>

				</div>

			</div>

		</div>


		<div class="" *ngIf="cadastrando">
			<textarea placeholder="Observação" class="gc-input form-control" [(ngModel)]="encaminhamento.cirurgia.observacao"></textarea>
		</div>
	</div>
	<div class="" style="text-align:center" *ngIf="editando || cadastrando">
		<button type="button" name="button" class="btn-adicionar" data-toggle="modal" data-target="#modal-escolhe-caixa">Adicionar Caixa <i class="fas fa-plus"></i></button>
	</div>
	<hr>
	<div class="row" *ngIf="!cadastrando ">
		<div class="col-12" style="text-align:right"  *ngIf="!isMedico" >
			Total: R$ {{valor_total}}
		</div>
	</div>
	<div style="text-align: center;" *ngIf="editando">
		<button type="button" class="btn btn-success gc-button" style="width:60%" (click)="atualizar()">Atualizar Caixas</button>
	</div>
	<div style="text-align: center;" *ngIf="cadastrando">
		<button type="button" class="btn btn-success gc-button" style="width:60%" (click)="cadastrar()">Cadastrar Cirurgia</button>
	</div>
</div>


<div class="modal fade" id="modal-escolhe-caixa" tabindex="-1" role="dialog" #modalCaixa>
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<p style="font-weight: bold">Adicionar Caixa</p>
					</div>
				</div>
				<div class="row">
					<div class="col-10">
						<input type="text" class="form-control" [(ngModel)]="termoBuscado" (keyup.enter)="buscar()">
					</div>
					<div class="col-1">
						<button type="button" class="btn btn-success gc-button" style="border-radius:15px;" (click)="buscar()"><i class="fas fa-search"></i></button>
					</div>
				</div>
				<div *ngFor="let caixa of resultadosBusca">
					<span (click)="buscaCaixa(caixa)" style="font-weight:bold; cursor:pointer">{{caixa.nome}}</span>
					<span (click)="buscaCaixa(caixa)" class="float-right" style="cursor:pointer" *ngIf="caixa.id != materiaisBuscados.id"><i class="fas fa-chevron-right"></i></span>
					<span class="float-right" style="cursor:pointer" *ngIf="caixa.id == materiaisBuscados.id" style="margin-left:5px"><i class="fas fa-chevron-down"></i></span>
					<span class="float-right" style="cursor:pointer" *ngIf="caixa.id == materiaisBuscados.id && selectAll" (click)="toggleSelectAll()"><i class="far fa-check-square"></i></span>
					<span class="float-right" style="cursor:pointer" *ngIf="caixa.id == materiaisBuscados.id && !selectAll" (click)="toggleSelectAll()"><i class="far fa-square"></i></span>

					<div *ngFor="let material of materiaisBuscados.materiais" style="margin-left:15px">
						<div *ngIf="caixa.id == materiaisBuscados.id" class="row">
							<div class="col-9">
								{{material.nome}}
							</div>
							<div class="col-3">
								<input type="number" class="form-control" value="0" max="{{material.quantidade}}" min="0" [(ngModel)]="material.solicitado">
							</div>
						</div>
					</div>
				</div>

				<div style="margin-top:15px;">
					<button type="button" class="form-control btn btn-success gc-button" (click)="adicionarCaixa()">Adicionar</button>
				</div>
			</div>
		</div>
	</div>
</div>
