.aprovar{
	border-radius: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #87cbc0;
	color: #87cbc0;
	width: 30px;
	height: 30px;
	display: inline-block;
	padding-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
	display:inline-flex!important;
}

.aprovar i {
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
}
.texto-confirma{
	text-align: center;
	font-weight: bold;
}

.btn-acao{
	border-radius: 50px !important;
	background: linear-gradient(to top right, #76c5bf, #b2dac2) no-repeat;
	border-style: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 15px;
	padding-left: 15px;
	color: #ffffff;
	font-size: 90%;
}


.select-acoes{
	border-radius: 50px !important;
	-webkit-appearance: none;
	background: linear-gradient(to top right, #76c5bf, #b2dac2) no-repeat;
	color: #ffffff !important;
	font-size: 90%;
	/* background-size: ;
	background-position: ; */
}

.select-acoes option{
	background-color: #76c5bf;
}
