<span *ngIf="encaminhamento.status.id == 2 || encaminhamento.status.id == 7" class="aprovar-material-container">
	<span class="aprovar" (click)="modalAprovaSolicitacao(true)" data-toggle="modal" data-target="#modal-confirm-acao"><i class="fas fa-check"></i></span>
	<span class="aprovar" (click)="modalAprovaSolicitacao(false)" data-toggle="modal" data-target="#modal-confirm-acao"><i class="fas fa-times"></i></span>
</span>

<span *ngIf="encaminhamento.status.id == 8" class="aprovar-material-container">
	<span class="aprovar" (click)="modalAprovaFaturamento(true)" data-toggle="modal" data-target="#modal-confirm-acao"><i class="fas fa-check"></i></span>
	<span class="aprovar" (click)="modalAprovaFaturamento(false)" data-toggle="modal" data-target="#modal-confirm-acao"><i class="fas fa-times"></i></span>
</span>

<span *ngIf="[3, 5, 6].includes(encaminhamento.status.id)" class="aprovar-material-container">
	<select class="btn gc-button select-acoes" style="max-width:300px;" (change)="comercialEncaminha($event.target.value)">
		<option value="0">Ações</option>
		<option value="5">Notificar Logística</option>
		<option value="6">Notificar Instrumentação</option>
		<option value="7">Retornar para Gestão</option>
		<option value="8">Solicitar Faturamento</option>
	</select>
</span>
<div *ngIf="encaminhamento.status.id == 9" >
	<button class="btn-acao" (click)="comercialEncaminha(1)" style="max-width:300px;font-size:90%;">Encerrar Solicitação</button>
</div>

<div *ngIf="encaminhamento.status.id == 10" >
	<button class="btn-acao" (click)="comercialEncaminha(8)" style="max-width:300px;font-size:90%;">Solicitar Faturamento</button>
</div>


<div class="modal fade" id="modal-confirm-acao" tabindex="-1" role="dialog" #modalConfirm>
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<p class="texto-confirma">
							{{textoConfirma}}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<textarea placeholder="Observações..." class="form-control" [(ngModel)]="observacao"></textarea>
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="confirma()">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-logistica"  tabindex="-1" role="dialog" style="text-align:left;">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="row">
					<div class="col-12">
						<select class="form-control" [(ngModel)]="tipoLogistica" (change)="updateDataLogistica()">
							<option value="9224">Entrega dos equipamentos</option>
							<option value="9225">Retirada dos equipamentos</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<label class="form-label">Data da Tarefa:</label>
					</div>
					<div class="col-6">
						<div class="input-group">
							<!-- input box -->
							<input class="form-control" placeholder="Escolha a data aqui"
								 angular-mydatepicker #dp="angular-mydatepicker"
								 [(ngModel)]="dateModel" [options]="myDpOptions"
								 />

							<!-- clear date button -->
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" *ngIf="dateModel" (click)="dp.clearDate()">
									<i class="fas fa-times"></i>
								</button>
							</div>

							<!-- toggle calendar button -->
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
									<i class="far fa-calendar-alt"></i>
								</button>
							</div>

						</div>
						<!-- <input type="text" class="gc-input form-control" [(ngModel)]="dataEntregaLogisitca"> -->
					</div>
					<div class="col-3">
						<input type="number" min="9" max="23" class="form-control" [(ngModel)]="horaLogistica" placeholder="HH">
					</div>
					<div class="col-3">
						<input type="number" min="0" max="59" class="form-control" [(ngModel)]="minutoLogistica" placeholder="MM">
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-12">
						<textarea placeholder="Orientações" class="form-control" [(ngModel)]="observacao"></textarea>
					</div>
				</div>
				<div class="row" *ngIf="tipoLogistica == 9224">
					<div class="col-12" style="padding-left:15px">
						<span (click)="agendarRetirada = true" *ngIf="!agendarRetirada" style="cursor:pointer"><i class="far fa-square"></i></span>
						<span (click)="agendarRetirada = false" *ngIf="agendarRetirada" style="cursor:pointer"><i class="far fa-check-square"></i></span>
						Agendar Retirada
					</div>
				</div>
				<div class="row" *ngIf="agendarRetirada && tipoLogistica == 9224">
					<div class="col-12">
						<label class="form-label">Data da Retirada:</label>
					</div>
					<div class="col-6">
						<div class="input-group">
							<!-- input box -->
							<input class="form-control" placeholder="Escolha o fim"
								 angular-mydatepicker #dpRetirada="angular-mydatepicker"
								 [(ngModel)]="dateRetiradaModel" [options]="myDpOptions"
								 [locale]="'pt-br'"

								 />

							<!-- clear date button -->
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" *ngIf="dateRetiradaModel" (click)="dpRetirada.clearDate()">
									<i class="fas fa-times"></i>
								</button>
							</div>

							<!-- toggle calendar button -->
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" (click)="dpRetirada.toggleCalendar()">
									<i class="far fa-calendar-alt"></i>
								</button>
							</div>

						</div>
					</div>
					<div class="col-3">
						<input type="number" min="9" max="23" class="form-control" [(ngModel)]="horaRetirada" placeholder="HH">
					</div>
					<div class="col-3">
						<input type="number" min="0" max="59" class="form-control" [(ngModel)]="minutoRetirada" placeholder="MM">
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="confirma()">Encaminhar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal-instrumentacao"  tabindex="-1" role="dialog" style="text-align:left;">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<!-- <div class="row">
					<div class="col-12">
						<select class="form-control" [(ngModel)]="tipoInstrumentacao">
							<option value="9217">Instrumentação de cirurgia eletiva</option>
							<option value="9218">Instrumentação de cirurgia de urgência</option>
						</select>
					</div>
				</div> -->

				<!-- <div class="row">
					<div class="col-12">
						<label class="form-label">Data da Tarefa</label>
						<div class="input-group">
							<input class="form-control" placeholder="Escolha a data aqui"
								 angular-mydatepicker #dpInstrumentacao="angular-mydatepicker"
								 [(ngModel)]="dateModel" [options]="myDpOptions"
								 (dateChanged)="onDataEntregaChanged($event)"/>

							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" *ngIf="dateModel" (click)="dpInstrumentacao.clearDate()">
									<i class="fas fa-times"></i>
								</button>
							</div>

							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" (click)="dpInstrumentacao.toggleCalendar()">
									<i class="far fa-calendar-alt"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<label class="form-label">Horario da entrega</label>
				<div class="row">
					<div class="col-6">
						<input type="number" min="0" max="23" class="form-control" placeholder="hora" [(ngModel)]="horaEntrega">
					</div>
					<div class="col-6">
						<input type="number" min="0" max="60" step="5" class="form-control" placeholder="minuto" [(ngModel)]="minutoEntrega">
					</div>
				</div> -->

				<label class="form-label">Usuário Auvo:</label>
				<select class="form-control" [(ngModel)]="auvoUsuarioResponsavel">
					<option *ngFor="let u of auvoUsers" value="{{u.userID}}">{{u.name}}</option>
				</select>

				<div class="row" style="margin-top:15px;">
					<div class="col-12">
						<textarea placeholder="Orientações" class="form-control" [(ngModel)]="observacao"></textarea>
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="confirma()">Encaminhar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
