<div class="reset-container gradient-bg">
	<div class="logo-container">
		<img src="assets/Logo-Branco.png" alt="Logo GC" width="50%">
	</div>
	<div class="instrucao">
		<div class="row">
			<div class="col-2 exclamacao">
				<i class="fas fa-exclamation-circle"></i>
			</div>
			<div class="col-10">
				Identifique-se para receber um e-mail com as informações para trocar sua senha.
			</div>
		</div>
	</div>
	<div class="form-container">
		<form>
			<div class="form-group">
				<label for="user">E-mail</label>
				<input id="user" type="text" class="form-control gc-input-login" placeholder="Insira o seu e-mail aqui" [(ngModel)]="email" name="email">
			</div>
			<div class="text-right">
				<button type="button" class="btn btn-success gc-button" style="min-width:150px;" (click)="enviarEmail()">Enviar</button>
			</div>
		</form>
	</div>
</div>
