.reset-container{
	padding-right: 35%;
	padding-left: 35%;
	margin-top: -50px;
}
.form-container{
	padding: 30px;
	border-radius: 8px;
	background-color: #ffffff;
}

.instrucao{
	padding: 30px;
	border-radius: 8px;
	background-color: #ffffff;
	margin-bottom: 20px;
}
.logo-container{
	padding: 30px;
}

.exclamacao{
	font-size: 300%;
	color: #afafaf;
}

img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
