.historico-container{
	margin-top: 15px;
	padding-left: 10%;
	padding-right: 10%;
}

.historico-card{
	margin: auto;
	max-width: 600px;
}

.usuario{
	text-align: left;
	font-weight: 600;
}

.data{
	text-align: right;
	font-weight: 600;
}

.status{
	font-weight: 600;
}

.observacao{
	font-size: 95%;
}

.obs-separator{
	border: none;
    height: 1px;
    background-color: #cfcfcf;
	margin-top: 7px;
	margin-bottom: 7px;
}

.card-separator{
	border: none;
    height: 2px;
    background-color: #696969;
}
