<app-header></app-header>
<div class="historico-container">
	<div class="form-header">
		<app-voltar></app-voltar>
			Histórico
		<hr>
	</div>
	<div class="filtro-container" style="margin-top:15px">
		Filtro
		<input type="text" class="form-control gc-input" placeholder="Pesquise aqui" [(ngModel)]="filter">

	</div>

	<div class="historico-card" *ngFor="let e of historico | filter:filter">
		<div class="row">
			<div class="col-6 usuario"><i class="fas fa-user"></i> {{e.usuario}} - {{e.setor}}</div>
			<div class="col-6 data"><i class="fas fa-calendar-alt"></i> {{e.data_encaminhamento}}</div>
		</div>
		<div class="row">
			<div class="col-12 status"><i class="fas fa-thumbtack"></i> {{e.status_encaminhamento}}</div>
		</div>
		<hr class="obs-separator">
		<div class="row">
			<div class="col-12 observacao">"{{e.observacao}}"</div>
		</div>
		<hr class="card-separator">
	</div>
</div>
