<app-header></app-header>
<div class="form-container">
	<div class="form-header">
		<span class="form-voltar"><i class="fas fa-chevron-left"></i></span>
		Editar Perfil
		<hr>
		<form>
			<img class="rounded-circle user-photo-thumbnail" [src]="image64" id="thumbnail" #thumbnail onclick="imagePicker.click();" style="cursor:pointer">
			<input type="file" class="form-control-file gc-input" id="imagePicker" (change)="fotoSelecionada($event)" style="display:none">
		</form>
		<label class="form-label">Nome</label>
		<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="usuario.nome">
		<label class="form-label">Senha atual</label>
		<input type="password" class="form-control gc-input" placeholder="Insira a senha aqui" [(ngModel)]="usuario.senha">
		<label class="form-label">Nova senha</label>
		<input type="password" class="form-control gc-input" placeholder="Insira a nova senha aqui" [(ngModel)]="usuario.novaSenha">
		<label class="form-label">Confirme a nova senha</label>
		<input type="password" class="form-control gc-input" placeholder="Confirme a senha aqui" [(ngModel)]="usuario.confirmaSenha" style="margin-bottom:16px">
		<button type="button" class="form-control btn btn-success gc-button" data-toggle="modal" data-target="#modal-confirm">Atualizar dados</button>
	</div>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja atualizar as informações?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" (click)="atualizar()">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
