<app-header></app-header>
<div class="form-container">
	<div class="form-header">
		<app-voltar></app-voltar>
		{{header}}
		<hr>
		<form>
			<img class="rounded-circle user-photo-thumbnail" src="assets/default_foto.png" id="thumbnail" #thumbnail onclick="imagePicker.click();" style="cursor:pointer">
			<input type="file" class="form-control-file gc-input" id="imagePicker" (change)="fotoSelecionada($event)" style="display:none">
		</form>
	</div>
	<label class="form-label">Nome</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="usuario.nome">
	<label class="form-label">Email</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o email aqui" [(ngModel)]="usuario.email">
	<label class="form-label" *ngIf="cadastrando">Senha</label>
	<input type="password" *ngIf="cadastrando" class="form-control gc-input" placeholder="Insira a senha aqui" [(ngModel)]="usuario.senha">
	<label class="form-label">Setor</label>
	<select class="form-control gc-input" style="cursor:pointer" #selectSetor [(ngModel)]="usuario.setor.id">
		<option *ngFor = "let setor of setores" value="{{setor.id}}">{{setor.nome}}</option>
	</select>
	<label class="form-label">Perfis</label>
	<ul class="list-group" style="cursor:pointer">
		<li *ngFor="let perfil of perfis"
			(click) = "toggle(perfil)"
			[ngClass]="{'list-group-item': true, 'active': perfisSelecionado.includes(perfil.id)}">
			{{perfil.nome}}
		</li>
	</ul>

	<button *ngIf="cadastrando" type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()">Adicionar Usuário</button>
	<button *ngIf="atualizando" type="button" class="form-control btn btn-success gc-button" (click)="alterar()">Alterar Usuário</button>

</div>
