<app-header></app-header>
<div class="form-container">
	<div class="form-header">
		<app-voltar></app-voltar>
		{{header}}
		<hr>
	</div>
	<label class="form-label">Nome</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="hospital.nome">
	<label class="form-label">ID Auvo</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o id que consta no auvo" [(ngModel)]="hospital.id_auvo">
	<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()" *ngIf="cadastrando">Cadastrar</button>
	<button type="button" class="form-control btn btn-success gc-button" *ngIf="atualizando" data-toggle="modal" data-target="#modal-confirm">Atualizar</button>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja salvar as atualizações?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="atualizar()">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
