<app-header></app-header>
<div class="row">
	<div class="col-4 historico">
		<a href="cirurgia/{{encaminhamento.cirurgia.id}}/historico">Histórico</a>
	</div>
	<div class="col-8 add-arquivo-line">
		<span class="form-label" style="margin-right:15px; cursor:pointer;" data-toggle="modal" data-target="#modal-confirm">Arquivos</span>
		<span style="text-align:center">
			<button [routerLink]="['/cirurgia/'+encaminhamento.id+'/materiais']" class="btn btn-success gc-button">Materiais</button>
		</span>

		<div style="width:35%; margin-left:5px" class="float-right" *ngIf="mostrarStatusPagamento">
			<select  [disabled]="!editando && !cadastrando" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.pagamento_realizado">
				<option value="0">Pagamento Não Efetuado</option>
				<option value="1">Pagamento Efetuado</option>
			</select>
		</div>
	</div>
</div>

<div class="container cirurgia-form">
	<div class="row form-line">
		<div class="col-11 my-auto"><label class="form-label my-auto">Nome do Paciente</label></div>
		<div class="col-1" style="text-align:right"><span *ngIf="!cadastrando" (click)="toggleEditando()" style="cursor:pointer"><i class="far fa-edit"></i></span></div>
		<div class="col-12"><input [disabled]="!editando && !cadastrando" type="text" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.paciente.nome"></div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Número do Paciente</label></div>
		<div class="col-12"><input [disabled]="!editando && !cadastrando" type="number" max="999999999" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.paciente.numero"></div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Sexo Biológico do Paciente</label></div>
		<div class="col-12">
			<select [disabled]="!editando && !cadastrando" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.paciente.sexo">
				<option value="M">Masculino</option>
				<option value="F">Feminino</option>
			</select>
		</div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Data de Nascimento do Paciente</label></div>
		<div class="col-12">
			<div class="input-group">
				<!-- input box -->
				<input class="form-control" placeholder="Escolha a data aqui"
					 angular-mydatepicker #dp="angular-mydatepicker"
					 [(ngModel)]="nascimentoPaciente" [options]="myDpOptions"
					 (dateChanged)="onNascimentoPacienteChanged($event)"
					 [disabled]="!editando && !cadastrando"
					 #nascimentoPacienteInput
					 />

				<!-- clear date button -->
				<div class="input-group-append">
					<button type="button" class="btn btn-secondary" *ngIf="nascimentoPaciente" (click)="dp.clearDate()">
						<i class="fas fa-times"></i>
					</button>
				</div>

				<!-- toggle calendar button -->
				<div class="input-group-append">
					<button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
						<i class="far fa-calendar-alt"></i>
					</button>
				</div>

			</div>
		</div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Cidade de Residência do Paciente</label></div>
		<div class="col-12"><input [disabled]="!editando && !cadastrando" type="text" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.paciente.cidade_residencia"></div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Data e Hora da Cirurgia</label></div>
		<div class="col-6">
			<div class="input-group">
				<!-- input box -->
				<input class="form-control" placeholder="Escolha a data aqui"
					 angular-mydatepicker #cirurgiadp="angular-mydatepicker"
					 [(ngModel)]="dataCirurgia" [options]="myDpOptions"
					 (dateChanged)="onDataCirurgiaChanged($event)"
					 [disabled]="!editando && !cadastrando"
					 />

				<!-- clear date button -->
				<div class="input-group-append">
					<button type="button" class="btn btn-secondary" *ngIf="dataCirurgia" (click)="cirurgiadp.clearDate()">
						<i class="fas fa-times"></i>
					</button>
				</div>

				<!-- toggle calendar button -->
				<div class="input-group-append">
					<button type="button" class="btn btn-secondary" (click)="cirurgiadp.toggleCalendar()">
						<i class="far fa-calendar-alt"></i>
					</button>
				</div>

			</div>
		</div>
		<div class="col-3">
			<input type="number" (change)="onDataCirurgiaChanged(false)" placeholder='HH' min="0" max="23" class="form-control gc-input" [(ngModel)]="horaCirurgia" [disabled]="!editando && !cadastrando">
		</div>
		<div class="col-3">
			<input type="number" (change)="onDataCirurgiaChanged(false)" placeholder='MM' min="0" max="59" class="form-control gc-input" [(ngModel)]="minutoCirurgia" [disabled]="!editando && !cadastrando">
		</div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Procedimento</label></div>
		<div class="col-12"><input [disabled]="!editando && !cadastrando" type="text" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.procedimento"></div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Cirurgião Responsável</label></div>
		<div class="col-12">
			<select [disabled]="!cadastrando" type="text" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.medico.usuario_id">
				<option *ngFor="let medico of medicos" value="{{medico.user_id}}">{{medico.nome}}</option>
			</select>
		</div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">Tipo de Cirurgia</label></div>
		<div class="col-12">
			<select  [disabled]="!editando && !cadastrando" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.tipo.id">
				<option value="2">Eletiva</option>
				<option value="1">Urgência</option>
			</select>
		</div>
	</div>

	<div class="row form-line">
		<div class="col-12 my-auto"><label class="form-label my-auto">CID</label></div>
		<div class="col-12"><input [disabled]="!editando && !cadastrando" type="text" class="form-control gc-input" [(ngModel)]="encaminhamento.cirurgia.cid"></div>
	</div>

	<div class="row form-line" *ngIf="editando">
		<button type="button" class="form-control btn btn-success gc-button" (click)="atualizar()">Atualizar Cirurgia</button>
	</div>
	<div class="row form-line" *ngIf="cadastrando">
		<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()">Cadastrar Cirurgia</button>
	</div>

</div>


<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<app-documentos [cirurgiaId]="encaminhamento.cirurgia.id"></app-documentos>
			</div>
		</div>
	</div>
</div>
