.historico{
	padding-top: 15px;
	padding-left:55px;
}
.add-arquivo-line{
	padding-right: 100px;
	padding-left: 100px;
	text-align: right;
	padding-top:15px;
}

.form-line{
	margin-bottom: 15px;
}



/* .form-line.caixas .dropdown-toggle {
    white-space:normal!important;
    text-align:left;
}

.form-line.caixas .dropdown-toggle:after {
   display:none!important;
} */

.cirurgia-form{
    padding-top:20px;
    padding-left:25%!important;
    padding-right:25%!important;
}


/* .dropdown-toggle, .show > .btn-secondary.dropdown-toggle{
	background-color: transparent;
	color: inherit;
	border-width: 0px !important;
	padding: 0px;
	outline: none;
} */

.btn{
	outline: none !important;
}
