<div class="login-container gradient-bg">
	<div class="logo-container">
		<img src="assets/Logo-Branco.png" alt="Logo GC" width="50%">
	</div>
	<div class="form-container">
		<form>
			<div class="form-group">
				<label for="user">Nome de usuário</label>
				<input id="user" type="text" class="form-control gc-input-login" placeholder="Insira o seu e-mail aqui" [(ngModel)]="email" name="email">
			</div>

			<div class="form-group">
				<label for="user">Senha</label>
				<input (keyup.enter)="login()" id="user" type="password" class="form-control gc-input-login" placeholder="Insira sua senha aqui" [(ngModel)]="senha" name = "senha">
			</div>

			<button type="button" class="btn btn-success gc-button" style="min-width:150px;" (click)="login()">Entrar</button>
			<div>
				<a href="recuperar-senha">Esqueci minha senha</a>
			</div>
		</form>
	</div>
</div>
