.login-container{
	padding-right: 35%;
	padding-left: 35%;
	margin-top: -50px;
}
.form-container{
	padding: 30px;
	border-radius: 8px;
	background-color: #ffffff;
}

.logo-container{
	padding: 30px;
}

img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
