<div class="row">
	<div class="col-6">
		<label class="form-label">Nome</label>
		<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="novoDoc.nome_exibicao">
	</div>
	<div class="col-6">
		<div class="">
			<div class="">
				<label class="form-label">Selecionar Arquivo</label>
			</div>
			<div class="">
				<button type="button" class="btn-add-arquivo" name="button" onclick="filePicker.click();"><i class="fas fa-plus"></i></button>
				<span class="nome-selecionado" *ngIf="novoDoc.nome_arquivo">Selecionado: {{novoDoc.nome_arquivo}}</span>
			</div>

			<input type="file" id="filePicker" (change)="arquivoSelecionado($event)" style="display:none">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<label class="form-label">Descrição</label>
		<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="novoDoc.descricao">
	</div>
</div>
<div class="row">
	<div class="col-12">
		<button style="margin-top:20px;" type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()">Cadastrar</button>
	</div>
</div>


<label class="form-label">Arquivos</label>
<div class="arquivos-container">
	<div class="row border-bottom" *ngFor="let documento of documentos">
		<div class="col-5">
			{{documento.data_upload}}
		</div>
		<div class="col-5">
			<span class="download" (click)="download(documento.id)">{{documento.nome_exibicao}}</span>
		</div>
		<div class="col-1">
			<span class="delete" (click)="stageForDelete(documento)" data-toggle="modal" data-target="#modal-confirm-doc"><i class="fas fa-minus"></i></span>
		</div>
	</div>

</div>


<div class="modal fade" id="modal-confirm-doc" tabindex="-1" role="dialog" #modalConfirm>
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja deletar o documento {{docToDelete.nome_exibicao}}?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" (click)="dismiss()">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" (click)="delete(docToDelete.id)">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
