.border-bottom{
	border-style: solid;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-color: #000000;
	margin-right: 2px !important;
	margin-left: 2px !important;
	margin-bottom: 5px;
}

.delete{
	color:#f52b6e;
	cursor: pointer;
}

.download{
	cursor:pointer;
}

.download:hover{
	color:#03a5fc;
	text-decoration: underline;
}

.btn-add-arquivo{
	border-radius: 50%;
	background-color: transparent;
	border-color: #000000;
	border-style: solid;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding-right: 0px;
	padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 1px;
}

.nome-selecionado{
	font-size: 80%;
	font-style: italic;
	margin-left: 15px;
}

.arquivos-container{
	max-height: 200px;
	overflow-y: scroll;
}
