<app-header></app-header>
<div class="form-container">
	<div class="form-header">
		<app-voltar></app-voltar>
		{{header}}
		<hr>
		<form *ngIf="cadastrando">
			<img class="rounded-circle user-photo-thumbnail" src="assets/default_foto.png" id="thumbnail" #thumbnail onclick="imagePicker.click();" style="cursor:pointer">
			<input type="file" class="form-control-file gc-input" id="imagePicker" (change)="fotoSelecionada($event)" style="display:none">
		</form>
	</div>
	<label class="form-label">Nome</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o nome aqui" [(ngModel)]="gestor.nome">
	<label class="form-label">Email</label>
	<input type="text" class="form-control gc-input" placeholder="Insira o email aqui" [(ngModel)]="gestor.email">
	<label class="form-label">Setor</label>
	<select class="form-control gc-input" style="cursor:pointer" #selectSetor [(ngModel)]="gestor.setor_id"></select>
	<label class="form-label">Hospital</label>
	<select class="form-control gc-input" style="cursor:pointer" #selectHospital [(ngModel)]="gestor.hospital_id"></select>
	<label class="form-label" *ngIf="cadastrando">Senha</label>
	<input type="password" class="form-control gc-input" placeholder="Insira a senha aqui" [(ngModel)]="gestor.senha" *ngIf="cadastrando">
	<label class="form-label" *ngIf="cadastrando">Confirme a Senha</label>
	<input type="password" class="form-control gc-input" placeholder="Insira a confirmação da senha aqui" [(ngModel)]="gestor.senhaConfirmada" *ngIf="cadastrando">

	<button type="button" class="form-control btn btn-success gc-button" (click)="cadastrar()" *ngIf="cadastrando">Cadastrar</button>
	<button type="button" class="form-control btn btn-success gc-button" *ngIf="atualizando" data-toggle="modal" data-target="#modal-confirm">Atualizar</button>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja salvar as atualizações?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="atualizar()">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
