<app-header></app-header>
<div class="table-container">
	<app-voltar></app-voltar>
	<span>Médicos</span>
	<hr>
	<div class="filtro-container">
		Filtro
		<input type="text" class="form-control gc-input" placeholder="Pesquise aqui" [(ngModel)]="filter">
	</div>
	<div class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>CRM</th>
					<th>Email</th>
					<th>Hospital</th>
					<th style="text-align:center;"><button *ngIf="acoesPermitidas.includes(13)" type="button" class="btn btn-success gc-button" (click)="cadastrar()">Cadastrar</button></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let medico of medicos | filter:filter | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
					<td>{{i+1}}</td>
					<td>{{medico.nome}}</td>
					<td>{{medico.crm}}</td>
					<td>{{medico.email}}</td>
					<td>{{medico.hospital.nome}}</td>
					<td style="text-align:center;">
						<span *ngIf="acoesPermitidas.includes(11)" style="margin-right:10px; cursor:pointer" (click)="editar(medico.medico_id)">
							<i class="fas fa-edit"></i>
						</span>
						<span *ngIf="acoesPermitidas.includes(12)" style="cursor:pointer" (click)="abrirModal(medico)" data-toggle="modal" data-target="#modal-confirm">
							<i class="fas fa-trash-alt"></i>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>


<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja deletar o medico {{medicoDeletado.nome || ""}}?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="deletar(medicoDeletado.medico_id)">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
