<app-header></app-header>
<div class="table-container">

	<app-voltar></app-voltar>
	<span style="margin-left:10px">Usuários</span>
	<hr>
	<div class="filtro-container">
		Filtro
		<input type="text" class="form-control gc-input" placeholder="Pesquise aqui" [(ngModel)]="filter">
	</div>
	<div class="table-container">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Setor</th>
				<th *ngIf="acoesPermitidas.includes(5)" style="text-align:center;"><button type="button" class="btn btn-success gc-button" (click)="cadastrar()">Cadastrar</button></th>
			</tr>
			</thead>
			<tr *ngFor="let usuario of usuarios | filter:filter | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
				<td>{{i+1}}</td>
				<td>{{usuario.nome}}</td>
				<td>{{usuario.email}}</td>
				<td>{{usuario.setor.nome}}</td>
				<td style="text-align:center;">
					<span *ngIf="acoesPermitidas.includes(34)" style="margin-right:10px; cursor:pointer" (click)="editar(usuario.id)">
						<i class="fas fa-edit"></i>
					</span>
					<span *ngIf="acoesPermitidas.includes(35)" style="cursor:pointer" (click)="abrirModal(usuario)" data-toggle="modal" data-target="#modal-confirm">
						<i class="fas fa-trash-alt"></i>
					</span>
				</td>
			</tr>
		</table>
		<pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>


<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja deletar o usuario {{usuarioDeletado.nome || ""}}?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="deletar(usuarioDeletado.id)">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
