<app-header></app-header>
<div class="table-container">
	<app-voltar></app-voltar>
	<span style="margin-left:10px">Permissões</span>
	<hr>
	<div class="filtro-container">
		Filtro
		<input type="text" class="form-control gc-input" placeholder="Pesquise aqui" [(ngModel)]="filter">
	</div>

	<div class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Perfil</th>
					<th style="text-align:center;"><button *ngIf="acoesPermitidas.includes(25)" type="button" class="btn btn-success gc-button" (click)="cadastrar()">Cadastrar</button></th>
				</tr>
			</thead>
			<tr *ngFor="let permissao of permissoes | filter:filter ; let i = index">
				<td>{{i+1}}</td>
				<td>{{permissao.nome}}</td>
				<td style="text-align:center;">
					<span *ngIf="acoesPermitidas.includes(26)" style="margin-right:10px; cursor:pointer" (click)="editar(permissao.id)">
						<i class="fas fa-edit"></i>
					</span>
					<span *ngIf="acoesPermitidas.includes(27)" style="cursor:pointer" (click)="abrirModal(permissao)" data-toggle="modal" data-target="#modal-confirm">
						<i class="fas fa-trash-alt"></i>
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						Tem certeza que deseja deletar o perfil {{permissaoDeletada.nome || ""}}?
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-6">
						<button type="button" class="form-control btn btn-danger" data-dismiss="modal">Não</button>
					</div>
					<div class="col-6">
						<button type="button" class="form-control btn btn-success" data-dismiss="modal" (click)="deletar(permissaoDeletada.id)">Sim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
