<div class="reset-container gradient-bg">
	<div class="logo-container">
		<img src="assets/Logo-Branco.png" alt="Logo GC" width="50%">
	</div>
	<div class="form-container">
		<form>
			<div class="form-group">
				<label for="user">Nova senha</label>
				<input id="user" type="password" class="form-control gc-input-login" placeholder="Insira a nova senha aqui" [(ngModel)]="senha" name="senha">
			</div>

			<div class="form-group">
				<label for="user">Confirmar senha</label>
				<input id="user" type="password" class="form-control gc-input-login" placeholder="Insira a nova senha aqui" [(ngModel)]="cSenha" name="cSenha">
			</div>

			<div class="text-right">
				<button type="button" class="btn btn-success gc-button" style="min-width:150px;" (click)="resetar()">Confirmar</button>
			</div>
		</form>
	</div>
</div>
